[submodule "extensions/ckanext-dietstars"]
	path = extensions/ckanext-dietstars
	url = https://github.com/derilinx/ckanext-dietstars.git
[submodule "extensions/ckanext-nrgi"]
	path = extensions/ckanext-nrgi
	url = https://github.com/derilinx/ckanext-nrgi.git
