[submodule "extensions/ckanext-dietstars"]
	path = extensions/ckanext-dietstars
	url = https://github.com/derilinx/ckanext-dietstars.git
[submodule "extensions/ckanext-nrgi"]
	path = extensions/ckanext-nrgi
	url = https://github.com/derilinx/ckanext-nrgi-published.git
[submodule "ckan-upstream"]
	path = ckan-upstream
	url = https://github.com/ckan/ckan.git
[submodule "extensions/ckanext-googleanalytics"]
	path = extensions/ckanext-googleanalytics
	url = https://github.com/ckan/ckanext-googleanalytics
